.Alert {
  display: none;
}

.Alert > .content {
  background-color: lightblue;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
}

.displayAlert {
  display: grid;
  animation: alertInfo 1s linear 0s forwards alternate;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 10%;
}

@keyframes alertInfo {
  from {
    transform: translateY(-20%);
  }

  to {
    transform: translateY(0);
  }
}
