.Alert {
  display: none;
}

.displayAlert {
  display: grid;
  animation: alertInfo 200ms linear 0s forwards alternate;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 10%;
}

.displayAlert > .content {
  background-color: var(--main-bgc);
  color: #fff;
  padding: 1.2rem 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  /* font-weight: 500; */
}

@keyframes alertInfo {
  from {
    transform: translateY(-20%);
  }

  to {
    transform: translateY(0);
  }
}
