.ConfirmMessageBox {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
  width: max-content;
  text-align: right;
}

.ConfirmMessageBox > .messageContent {
  padding: 0.5rem;
  text-align: left;
}
