.CustomerDetails {
  background-color: rgba(211, 211, 211, 0.3);
  padding: 3rem 1rem 1rem;
  height: 100vh;
  overflow-y: scroll;
}

.CustomerDetails > .customerBodyELements {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  height: 85%;
  overflow-y: scroll;
  padding: 1rem;
}

.customerDetailsInfo {
  background-color: #ffffff;
  border-radius: 1.6rem;
  padding: 1rem;
  box-shadow: 0 0 1rem 0.5rem;
  height: 100%;
  overflow-y: scroll;
}

.recentAndBarChart {
  height: 100%;
  overflow-y: scroll;
  border-left: 2px solid black;
  width: 95%;
  margin: 0 auto;
  text-align: left;
}

.recentAndBarChart > .recentTransactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: 0 auto;
}

.recentAndBarChart > .recentTransactions > .totalPurchases {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 1.3rem;
  color: gray;
}

.recentAndBarChart > .barChartChart {
  margin-top: 1rem;
}

.customerDetailsInfo > .group {
  margin: 1em;
  text-align: left;
}

.customerDetail {
  padding: 1rem;
  text-align: left;
}

.customerDetail > span {
  padding-right: 1rem;
  font-weight: 500;
}

.balanceDue {
  font-weight: 500;
  margin-top: 1rem;
}

.homeAndPrint {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.filter {
  margin-left: 3rem;
  text-align: left;
}

.fa-angle-down {
  color: white;
}

.btn {
  padding: 1rem;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 1rem;
  border: 1px solid white;
  color: black;
}

.button {
  padding: 1rem;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 1rem;
  border: 1px solid white;
  color: white;
}

.saleTran {
  display: flex;
}
.saleTran > li {
  padding: 1rem;
  text-align: right;
}

.recentTransactions > h5 {
  text-align: left;
  margin-left: 5rem;
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .recentAndBarChart {
    flex-direction: column;
    margin-top: unset;
    padding: unset;
  }

  .recentAndBarChart > .recentTransactions {
    margin-bottom: 1rem;
  }

  .viewInvoiceTransactions {
    width: 100vw;
    margin: 0 auto;
    overflow-x: scroll;
  }

  .customerDetailsInfo {
    flex-direction: column;
    margin-top: 1rem;
  }

  .customerDetailsInfo > .addressInfos > h3 {
    display: none;
  }

  .filterContainer {
    width: 100%;
    overflow: scroll;
  }

  .filter {
    margin-left: 0;
    display: flex;
    justify-content: center;
    width: 120vw;
    margin: 0 auto;
    overflow-x: scroll;
  }

  .filter .btn {
    padding: 1rem;
  }

  .filter .button {
    width: max-content;
  }
}
