.CustomerDetails {
  /* background-color: rgba(211, 211, 211, 0.3); */
  padding: 1.5rem 0.5rem 0.5rem;
  height: 100vh;
  overflow-y: scroll;
}

.CustomerDetails .invoicesHeading .mainOptionsCont {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.moreOptionsCont {
  width: 100%;
  position: absolute;
  background-color: lightgray;
  font-weight: 550;
  padding: 1rem;
  /* color: #ffffff; */
  border-radius: 1rem;
  transition: all 0.2s ease;
  visibility: hidden;
  top: -5rem;
}

.moreOptions.invoicesHeading.showOptions .moreOptionsCont {
  visibility: visible;
  top: 100%;
}

.CustomerDetails .customerName {
  text-align-last: left;
}

.CustomerDetails .filterContainer {
  margin-bottom: 1rem;
}

.CustomerDetails .filterContainer .filter {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  cursor: default;
  width: max-content;
}

.CustomerDetails .filterContainer .filter .button {
  padding: 0.5rem;
  border-bottom: 2px solid var(--main-bgc);
}

.CustomerDetails > .customerBodyELements {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  height: 100%;
  align-items: start;
  overflow-y: scroll;
  padding: 0.5rem;
  border-radius: 1.6rem;
}

.customerBodyELements .customerBalancesCont {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.customerBodyELements .customerBalancesCont .customerBalance {
  padding: 1rem;
  background-color: var(--main-bgc);
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: normal;
}

.customerBalancesCont .customerBalance .title {
  font-weight: 500;
}

.customerBalancesContt .overviewCustomerTrans {
  margin-left: 1rem;
}

.overviewCustomerTrans .customerInvoices .custInvoiceHeading {
  text-align-last: left;
  padding: 0.5rem;
  text-decoration: underline;
  color: rgba(0, 0, 255, 0.7);
  font-weight: normal;
  margin-top: 0.5rem;
}

.noInvoice .addNewInvoice {
  color: rgba(0, 0, 255, 0.7);
  text-decoration: underline;
}

.overviewCustomerTrans .customerInvoices .custInvoiceItem {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  color: #000000;
  border-bottom: 1px solid #000000;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
}

.overviewCustomerTrans .customerInvoices .custInvoiceItem:hover {
  background-color: var(--main-bgc);
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.toggleCustDetails {
  display: none;
}

.customerDetailsInfo {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 1rem 0.5rem;
  height: 100%;
  overflow-y: scroll;
}

.customerDetailsInfo .productImage {
  width: 7.5rem;
  height: 7.5rem;
  margin: auto;
  border-radius: 50%;
  background-color: var(--main-bgc);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.customerDetail {
  padding: 0.5rem;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .recentAndBarChart > .recentTransactions {
    margin-bottom: 0.5rem;
  }

  .viewInvoiceTransactions {
    width: 100vw;
    margin: 0 auto;
    overflow-x: scroll;
  }

  .customerDetailsInfo {
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .customerDetailsInfo > .addressInfos > h3 {
    display: none;
  }

  .filterContainer {
    width: 100%;
    overflow: scroll;
  }

  .filter {
    margin-left: 0;
    display: flex;
    justify-content: center;
    width: 120vw;
    margin: 0 auto;
    overflow-x: scroll;
  }

  .filter .button {
    width: max-content;
  }
}

@media screen and (max-width: 768px) {
  .customerDetailsInfo {
    box-shadow: 0 0 0.5rem 0.25rem;
  }
}

@media screen and (max-width: 480px) {
  .CustomerDetails > .customerBodyELements .toggleCustDetails {
    text-align: left;
    padding: 0 1rem;
  }

  .CustomerDetails > .customerBodyELements {
    display: unset;
  }

  .toggleCustDetails {
    display: block;
  }

  .toggleCustDetails .toggleDetails {
    color: blue;
    text-decoration: underline;
    font-size: 1rem;
  }

  .customerDetailsInfo {
    position: absolute;
    visibility: hidden;
    left: -100%;
    transition: all 500ms ease;
    width: 75vw;
    overflow: hidden;
  }

  .customerDetailsInfo.showCustDetails {
    visibility: visible;
    left: 50%;
    transform: translateX(-50%);
  }
}
