.Dashboard {
  display: grid;
}

.treasuryBalances {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  height: max-content;
}

.treasuryBalances .gridItem {
  display: grid;
  align-items: center;
  padding: 0.5rem;
  background-color: #ffffff;
}

.treasuryBalances > .companyName,
.treasuryBalances > .itemBalance {
  margin: 0.5rem 0;
}

.treasuryBalances .gridItem .itemCaption,
.treasuryBalances .gridItem h2 {
  font-weight: 500;
}

.profitAndLossSection {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  height: max-content;
}

.profitAndLossSection > .profitAndLossSummary,
.profitAndLossSummary > .treasuryBalances {
  height: 100%;
}

.Dashboard > .reportsSection {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  height: max-content;
  overflow-y: scroll;
}

.summaryReport {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
}

.summaryReport > thead {
  text-align: center;
}

.profitAndLossSection > .invoicesAndExpensesByNatureSection {
  height: 100%;
  display: grid;
  align-items: center;
}

.Doughnut {
  height: 20rem;
}

.invoicesDueThisMonth,
.supplierInvoicesDueThisMonth {
  height: 20rem;
  overflow-y: scroll;
}

.invoicesDueThisMonth > .dueInvoice,
.supplierInvoicesDueThisMonth > .dueInvoice {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
}

.invoicesDueThisMonth > .dueInvoice:hover,
.supplierInvoicesDueThisMonth > .dueInvoice:hover {
  background-color: rgba(211, 211, 211, 0.2);
  cursor: pointer;
}

.netDebtorsAndCreditors > .treasuryBalances {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.netDebtorsAndCreditors > .treasuryBalances .gridItem {
  padding: unset;
}

.netDebtorsAndCreditors > .treasuryBalances .gridItem .itemCaption {
  font-weight: unset;
}
