.FixedAsset {
  background-color: rgba(211, 211, 211, 0.3);
  padding: 2.25rem 0.5rem 0.5rem;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.expenseTop > .salesOptionsMiddle {
  text-align: left;
}

.assetInfos {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.leftCorner p,
.rightCorner p {
  padding: 0.5rem;
}

.depSchedule {
  display: grid;
  justify-content: center;
  align-items: center;
}

.depSchedule table {
  border-radius: 0.5rem;
}

.assetDetail {
  padding: 1rem;
}

tbody .assetDetailParent:hover {
  background-color: rgba(211, 211, 211, 1);
}

tbody .assetDetailParentSelected {
  background-color: rgba(0, 0, 255, 0.5);
}
