.InventoryPage {
  background-color: rgba(211, 211, 211, 0.3);
  text-transform: capitalize;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  text-transform: capitalize;
  text-align: left;
}

.detail {
  padding: 0.5rem;
}

.recentSalesAndPurchases {
  display: flex;
  justify-content: space-around;
}

.recentProductSales .recentInfo,
.recentProductPurchases .recentInfo {
  padding: 0.5rem 0.5rem;
}

.overviewOptions {
  width: 100%;
  margin: 0.5rem auto 0;
  text-align: left;
}

.transactionsHead,
.transactionsBody {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding: 0.5rem;
}

.transactionsHead {
  font-weight: 500;
  background-color: rgba(211, 211, 211, 0.5);
}

.transactionsBody:nth-child(odd) {
  background-color: rgba(211, 211, 211, 0.3);
}

.transactionsBody:hover {
  background-color: rgba(211, 211, 211, 0.2);
}
