.InvoiceTemplate {
  margin-top: 3rem;
  max-width: 100%;
}

.invoiceContainer {
  margin: auto;
  text-align: left;
  /* overflow: scroll; */
  box-shadow: 0 0rem 1rem 0.5rem;
}

.invoiceTop {
  display: flex;
  justify-content: space-between;
  padding: 5rem 1rem;
  background-color: rgba(210, 210, 210, 0.8);
}

.logoSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.logo {
  max-width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  background-image: url("../images/logo2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.companyDetails {
  padding: 1rem;
  margin-left: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.customerDetails {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  text-align: left;
}

.heading {
  color: rgba(0, 0, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 255, 0.7);
  text-align: center;
  margin-bottom: 1rem;
}

.addressInfos > p {
  padding: 0.3rem;
}

.itemsBought {
  padding: unset;
  border: 2px solid rgba(210, 210, 210, 0.8);
  border-bottom: none;
  width: 100%;
}

.itemHeading {
  background-color: rgba(210, 210, 210, 0.8);
  font-weight: 600;
}

.itemHeading,
.item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 1rem;
  padding-left: unset;
  border-bottom: 2px solid rgba(210, 210, 210, 0.8);
  text-align: center;
}

.item > span:first-child {
  text-align: left;
  padding-left: 2rem;
}

.item:nth-child(odd) {
  background-color: rgba(210, 210, 210, 0.3);
}

.discountsAndAdditions {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  text-align: center;
  border-left: 2px solid rgba(210, 210, 210, 0.8);
  border-right: 2px solid rgba(210, 210, 210, 0.8);
}

.discountsAndAdditions > div {
  padding: 0.3rem;
}

.netPayable {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 3rem;
  background-color: rgba(210, 210, 210, 0.8);
}

.signature {
  padding: 1rem;
  margin: 2rem 2rem 5rem;
}
