.Invoices {
  background-color: rgba(211, 211, 211, 0.3);
  padding: 2rem 0.5rem 0.5rem;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.Invoices > .invoicesHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoicesHeading > .moreOptionsCont {
  z-index: 2;
}

.invoicesHeading > .invoiceButton {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(2, 22, 43, 1);
  color: #ffffff;
}
.Invoices > .overDueInvoices {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 01px solid white;
}

.overDueInvoices p {
  padding: 0.5rem;
  color: gray;
}

.overDueInvoices .title {
  font-weight: 500;
}

.Invoices > .invoiceFilters {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
  padding: 1rem;
}

.invoiceFilters .filterInput {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.allDebtorsTable .invoiceDetail {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.invoiceDetail > .sendInvoice {
  display: flex;
  width: 10%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: -5rem;
  background-color: rgba(2, 22, 43, 1);
  transition: right 1s ease 0s;
  visibility: hidden;
  color: #ffffff;
  height: 100%;
}

.invoiceDetail:hover > .sendInvoice {
  right: 0;
  visibility: visible;
}

.Invoices > .upDateQuoteToInvoice {
  width: max-content;
  padding: 1rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(211, 211, 211, 1);
  border-radius: 0.5rem;
  z-index: 1;
}

.discountsAndVatSection {
  margin-top: 0.5rem;
}

.discountsAndVatSection > .vatAndOtherDiscounts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0.5rem;
}
