.Liability {
  position: relative;
  background-color: rgba(211, 211, 211, 0.3);
}

.profileDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  padding: 0.5rem;
}

.profileDetails p {
  padding: 0.5rem;
}

.amortizationTable {
  padding: 0 0.5rem;
  position: relative;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 60rem;
  overflow-y: scroll;
}

.amortizationTable table {
  border-radius: 1rem;
}

.amortizationTable h3 {
  padding: 0.5rem;
}

.amortizationTable .amortization {
  padding: 2rem;
}
