.Liability {
  position: relative;
  background-color: rgba(211, 211, 211, 0.3);
}

.profileDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  padding: 0.5rem;
}

.profileDetails p {
  padding: 0.5rem;
}

.amortizationTable {
  padding: 0 0.5rem;
  position: relative;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 40rem;
  overflow-y: scroll;
}

.amortizationTable table {
  border-radius: 0.5rem;
}

.amortizationTable h3 {
  padding: 0.5rem;
}

.amortizationTable .amortization {
  padding: 1rem;
}

.selected {
  position: relative;
  background-color: rgba(0, 0, 255, 0.5);
}

.redeemLiab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: -5rem;
  background-color: rgba(2, 22, 43, 1);
  transition: right 1s ease 0s;
  visibility: hidden;
  color: #ffffff;
  height: 100%;
}

.selected:hover > .redeemLiab {
  right: 0;
  visibility: visible;
  cursor: default;
}
