.NavBar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: rgba(211, 211, 211, 1);
  gap: 1rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.9);
  position: sticky;
  top: 0;
  z-index: 1;
  color: black;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url("../images/logo2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-list {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.nav-list:first-child {
  border-left: 1px solid #ffffff;
}

.nav-item {
  position: relative;
  padding: 0.5rem;
  text-decoration: none;
  list-style: none;
  border-right: 1px solid #ffffff;
  cursor: default;
}

.nav-item > .options {
  position: absolute;
  transform: translateY(-11rem);
  background-color: white;
  width: max-content;
  padding: 1rem;
  visibility: hidden;
  transition: transform 500ms ease;
  border-radius: 0.5rem;
}

.nav-item:hover > .options {
  transform: translateY(0);
  visibility: visible;
  z-index: 2;
}

.nav-item > .options > .option {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.nav-item > .options > .option:last-child {
  border-bottom: none;
}

.NavBar > .header > .specialReviewButton {
  font-size: 2rem;
  font-weight: 600;
  background-color: gray;
  animation: playButton 1s linear 2s infinite alternate;
}

.hamburger {
  text-align: left;
  padding: 1rem;
  display: none;
}

@keyframes playButton {
  from {
    background-color: red;
    transform: scale(1);
  }

  to {
    background-color: blue;
    transform: scale(1.2);
  }
}

@media print {
  .NavBar {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .NavBar {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 4.5rem;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: left;
  }

  .nav {
    width: 100%;
  }

  .nav-item {
    border-right: unset;
    border-bottom: 2px solid white;
    width: 100%;
  }

  .nav-item > .options {
    right: 0;
    top: 0;
  }

  .nav-list:first-child {
    border-left: unset;
  }

  .NavBar > .header > .specialReviewButton {
    position: fixed;
    top: 0;
    right: 1rem;
  }

  .header {
    height: 4.5rem;
  }

  .hamburger {
    display: block;
  }
}
