.newCustomerForm {
  width: 50%;
  display: grid;
  padding: 0.5rem 1rem 1rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: gray;
  z-index: 1;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

@media screen and (max-width: 900px) {
  .newCustomerForm {
    width: 90%;
  }

  .form {
    grid-template-columns: 1fr;
  }
}
