.NewExpense {
  display: grid;
  justify-content: center;
  width: max-content;
  overflow-x: scroll;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(211, 211, 211, 1);
  padding: 0.5rem;
  border-radius: 1rem;
}

.expenseTable {
  padding: 0.5rem;
}
.invoiceListHead > th {
  border-right: 0.2rem solid white;
}

.expTop,
.expButtons {
  display: flex;
  justify-content: space-around;
}
