.NewFixedAsset {
  width: 60%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(211, 211, 211, 1);
  border-radius: 0.5rem;
}

.assetFormContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  justify-content: space-between;
  text-align: left;
  padding: 0.5rem;
}

.payment {
  width: 98%;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
}

.payment h3 {
  padding-bottom: 0.5rem;
}

.paymentMethods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  justify-content: space-between;
  text-align: left;
}
