/* .Quotation {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  text-align: center;
  background-color: rgba(211, 211, 211, 1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.close {
  text-align: right;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  font-size: 2rem;
}

.Quotation h3 {
  margin: 0.5rem;
  padding: 0.5rem;
}

.quotationTop,
.customerDetails,
.additionalInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
}

.deliveryAdress {
  text-align: left;
}

.addressInfo {
  height: 10rem;
  overflow-y: scroll;
  background-color: #ffffff;
}

.addressInfo p {
  padding: 0.5rem;
}

.amount {
  margin-top: 1rem;
}

.listItem {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  gap: 0.5rem;
  background-color: rgba(211, 211, 211, 0.5);
}

.listItem > input,
.listItem > select {
  width: 100%;
  margin: 0.1rem;
  padding: 0.5rem;
}
.listItem > input:hover,
.listItem > select:hover {
  background-color: rgba(211, 211, 211, 0.5);
}
.listTitle {
  padding: 0.5rem;
  margin: 0.1rem;
  color: #ffffff;
  background-color: gray;
  text-align: center;
}

.itemsContainer > .addRows {
  margin: 0.5rem;
  margin-left: 2rem;
  padding: 0.5rem;
}
.itemsContainer {
  text-align: left;
}

.items {
  text-align: center;
}

.additionalInfo .amount {
  background-color: #ffffff;
  display: grid;
  justify-content: center;
  align-items: center;
}

.summation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin: 0.5rem;
  padding: 0.5rem;
}

.button {
  padding: 0.5rem;
  background-color: rgba(0, 0, 211, 0.4);
  border-radius: 0.5rem;
  border: 1px solid white;
  color: white;
}

.invoiceNumber > input {
  width: 50%;
}

.deductions,
.otherAdditions {
  width: 70%;
  margin: 0 auto;
}

.deductions > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.deductItem > input {
  padding: 0;
  width: 10%;
  border-radius: 0.5rem;
}

.otherAdditions > .additionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additionItem {
  margin: 0.1rem;
}

.netPay {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.invoicesToSelectContainer {
  background-color: rgba(211, 211, 211, 0.5);
}

.invoicesToSelect {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.invoicesToSelect > .input,
.invoicesToSelect > .span {
  background-color: white;
}

.invoicesToSelect > input[type="checkbox"],
.invoicesToSelect > span {
  padding: 0.5rem;
}

.invoicesToSelectHeading {
  background-color: gray;
}
.selectCustomer {
  padding: 0.5rem;
}

.hideAndShow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .additionalInfo .amount {
    display: none;
  }
}

@media screen and (max-width: 900) {
  .deductions,
  .otherAdditions {
    width: 100%;
    margin: 0 auto;
  }

  .btn,
  .button {
    padding: unset;
  }

  .netPay {
    width: 100%;
  }

  .deductions,
  .otherAdditions {
    width: 100%;
  }

  .deductItem > input {
    width: 100%;
  }
} */
