.Reports {
  display: grid;
  position: relative;
  background-color: rgba(211, 211, 211, 0.3);
}

.incomeStatement {
  display: grid;
  justify-content: center;
  text-transform: capitalize;
  margin-top: 2rem;
  height: 80vh;
  overflow-y: scroll;
}

.incomeStatement .element {
  padding: 1rem;
}

.incomeStatement .firstElement {
  text-align: left;
  margin-left: 1rem;
}

.selectView {
  display: flex;
  justify-content: space-around;
}
