.Reports {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  text-align: left;
}

.Reports .reportGroup {
  padding: 1rem;
}

.Reports .reportGroup .reportGroupHeading {
  padding-bottom: 1rem;
  text-decoration: underline;
  font-size: 1.7rem;
  font-weight: 500;
}

.reportGroup .reportLinks .reportLinkCont {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(211, 211, 211, 0.3);
}

.reportGroup .reportLinks .reportLinkCont a.reportLink {
  color: blue;
}

.SingleReport .reportOptions {
  text-align: right;
  margin-top: 1rem;
  padding-top: 1rem;
}

.SingleReport .reportOptions i.fas.fa-print {
  color: var(--main-bgc);
  margin-right: 1rem;
}

.SingleReport .reportOptions i.fas.fa-print:hover {
  cursor: pointer;
}

.OverDue {
  color: red;
}

.noDisplay {
  display: none;
}

/* all reports */

.reportInfos.reportHeader {
  padding: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* income statement only */

.incomstatementElem {
  width: 65%;
  /* max-width: 65%; */
}

.incomeStatementTableItem {
  border: 1px solid #000;
  border-collapse: collapse;
}

.incomeStatementTableItem.boldItem {
  font-weight: 600;
}

.incomeStatementTableItem.miniBoldItem {
  font-weight: 550;
}

.incomeStatementTableItem.underlineItem {
  text-decoration: underline;
}

.incomeStatementTableItem.firstColumn {
  text-align: left;
  padding-left: 1rem;
}

@media print {
  .reportOptions {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .SingleReport .reportOptions {
    margin-top: unset;
    padding-top: unset;
  }

  .reportInfos.reportHeader {
    padding: 2rem;
  }
}
