.Sales {
  position: relative;
  height: 100vh;
  /* background-color: rgba(211, 211, 211, 0.2); */
  overflow-y: scroll;
  padding: 1.5rem 0.5rem 0.5rem;
}

.salesTop {
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
}

.salesTotals {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  color: gray;
}

.mostRecentSales > h5,
.topOwingCustomers > h5 {
  margin-top: 1rem;
}

.cashSales,
.creditSales,
.salesReturns {
  position: relative;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.creditSales::before,
.salesReturns::before,
.cashSales::before {
  content: attr(data-text);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: transparent;
  color: black;
  text-align: center;
  display: none;
  font-size: 1.2rem;
}

.creditSales:hover::before,
.salesReturns:hover::before,
.cashSales:hover::before {
  display: block;
}

.creditSales:hover,
.salesReturns:hover,
.cashSales:hover {
  cursor: pointer;
}

.cashSales > h5,
.creditSales > h5,
.salesReturns > h5 {
  padding: 0.5rem;
}

table {
  border: 0.17rem solid var(--main-bgc);
  max-width: 100%;
  border-collapse: collapse;
}

.Barchart {
  background-color: #ffffff;
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: 98%;
}

.debtorsListHead,
.debtorsListItem {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.debtorsListHead {
  font-weight: 500;
  background-color: rgba(211, 211, 211, 0.5);
}

.debtorsListHead > span,
.debtorsListItem > span {
  border-right: 0.2rem solid white;
  padding: 0.5rem;
  background-color: rgba(211, 211, 211, 0.2);
  border-bottom: 0.1rem solid white;
}
.font {
  text-align: right;
  padding-right: 0.5rem;
}

.allDebtors {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  background-color: white;
}

.allDebtorsContainer {
  width: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  display: "grid";
  text-align: "center";
  justify-content: "center";
}

.allDebtorsTable {
  width: 100%;
}

.allDebtorsContainer .allDebtorsTable thead {
  background-color: var(--main-bgc);
  color: #ffffff;
}

.allDebtorsContainer .allDebtorsTable .customersHeading {
  background-color: var(--main-bgc);
  color: #ffffff;
}

.allDebtorsContainer > .allDebtorsTable > .tableBody {
  height: 90%;
  overflow-y: scroll;
}

.allDebtorsTable > thead > tr th,
.allDebtorsTable > tbody > tr td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--main-bgc);
  font-weight: 400;
}

.allDebtorsTable > tbody > tr:hover {
  background-color: rgba(34, 49, 63, 0.5);
}

.customerDetailRow .clientEmail {
  color: blue;
}

.customerDetailRow .clientEmail:hover {
  text-decoration: underline;
}
