.salesAndPurchases h3 {
  text-align: left;
  margin: 0.5rem;
  padding: 0.5rem;
}

.SalesOptions,
.PurchaseOptions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.SalesOptionsItem {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.SalesOptionsItem:hover {
  background-color: rgba(142, 161, 141, 0.5);
  cursor: pointer;
}

.fas {
  color: rgb(142, 161, 141);
}
