.Shareholder {
  position: relative;
  height: 90vh;
  overflow-y: scroll;
  text-transform: capitalize;
  background-color: rgba(211, 211, 211, 0.3);
  text-align: left;
}

.shareholderDetail p b {
  padding: 1rem;
}
