.SinglePay {
  width: max-content;
  padding: 1rem;
  background-color: rgba(211, 211, 211, 1);
  border-radius: 0.5rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.SinglePay > .overViewDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SinglePay > .overViewDetails > .Element {
  margin: 0.5rem;
}

.overViewDetails > .Element > .ElementName {
  font-weight: 500;
  padding: 0.5rem;
}

.overViewDetails > .Element > .ElementValue {
  padding: 0.5rem;
}

.SinglePay > .amountToPay > #amountToPay,
.SinglePay > .amountToPay > #meansOfPayment {
  margin: 0.5rem;
}
