.App {
  text-align: center;
  display: grid;
  grid-template-columns: 0fr 4fr;
  gap: 0.5rem;
}

.Home {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  background-color: white;
  width: 60%;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem 0.5rem gray;
}

@media print {
  .App {
    display: block;
  }
}

@media screen and (max-width: 1050px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: 4fr;
    gap: 0.5rem;
  }

  .Home {
    top: 5%;
    width: 90%;
    height: 75vh;
    overflow-y: auto;
  }
}
