.App {
  text-align: center;
  display: grid;
  grid-template-columns: 0fr 4fr;
  gap: 1rem;
}

.Home {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
  background-color: white;
  width: 60%;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem 1rem gray;
}

@media screen and (max-width: 1050px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: 4fr;
    gap: 1rem;
  }
}
