* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font: 1.5rem Helvetica;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

th,
td {
  padding: 0.5rem;
}

@media screen and (max-width: 900px) {
  body {
    font: 1.5rem Helvetica;
    height: 100vh;
  }
}
