* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-weight: lighter;
}

body {
  font: 1.5rem "Montserrat", sans-serif;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

th,
td {
  padding: 0.5rem;
}
input,
select,
textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: inherit;
  border: none;
}

button {
  font-size: inherit;
}
