* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-weight: lighter;
}

body {
  font: 2.3rem sans-serif;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

th,
td {
  padding: 0.5rem;
}
input {
  padding: 2rem;
  border-radius: 1rem;
}

@media screen and (max-width: 900px) {
  body {
    font: 2rem sans-serif;
    height: 100vh;
  }
}
